{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/arh-object.css" %}">
    <link rel="stylesheet" href="{% static "css/modal-window.css" %}">
{% endblock style %}
{% block body %}
    <div class="arh-object-block">
        <h1 class="h2" style="text-align: center; font-size:1.5em">
            {{obj.name}}
        </h1>
        <p id='geo-block'><a href='https://yandex.ru/maps/?ll={{obj.y}},{{obj.x}}&z=12&pt={{obj.y}},{{obj.x}}'>{{obj.x}} {{obj.y}}</a>, {{obj.locality}}</p>
        <div class="arh-images">
            {% for img in obj.arh_image.all %}
                <img  class="image" src="{{img.path}}" name='{{img.name}}' autor='{{img.autor}}' sourc='{{img.sourc}}'>
            {% endfor %}
        </div>
        <div class="overview-block">
            <p>{{obj.overview}}</p>
        </div>
        <div style="width: 85%;">
            <h2 class="h2" style="text-align: start;">
                Источники
            </h2>
            <hr class="line" style="top: 0; left: -15px;">
        </div>
        <div class="sources-block">
            <p> {{obj.sources | safe}}.</p>
        </div>
    </div>
    {% include 'modal-window.html' %}
   

{% endblock body %}